.head{
 
    font-size: 30px;
    border-bottom:2px  solid black;
    width: auto;
 

   }
   .Paper{
       font-family:Verdana, Geneva, Tahoma, sans-serif;
   }
   .highlight{
       display: flex;
   }
   .firstrow{
       margin-left: 250px;
   }
   .secondrow{
      margin-left: 80px;
   }
   /* .head:after{
    margin-top: 5px;
   border-bottom:2px  solid black;
   } */
